.btn {
    height: 60px;
    background: $primary-color;    
    display: flex;
    align-items: center;
    &-primary {
        padding: 10px;
        color: white;
        a {
            color: white;
        }
    }
    &-secondary {

    }
    &-rounded {
        border-radius: 30px;
        padding: 0 30px;
    }
}
