@import '../variables.scss';

.collections-list {
    display: flex;
    flex-wrap: wrap;
    .collect-tile {
        width: 29%;
        background-color: #F6F5F5;
        margin-bottom: 2%;
        padding: 1%;
        box-shadow: -1px 3px 9px 0px #B4B4B4;
        transition: 0.3s ease-in-out;
        &:hover {
            transform: scale(1.02);
        }
        img {
            display: block;
            width: 100%;
        }
        .title {
            margin: 7% 0 7% 3%;
            font-size: 14px;
            text-transform: uppercase;
        }
        .description {
            font-size: 11px;
            margin-bottom: 7px;
            margin-left: 3%;
        }
    }
    .collect-tile:nth-child(3n-1){
        margin-left: 2%;
        margin-right: 2%;
    }
    a {
        color : $light-gray;
    }
}