@import "../variables.scss";
.title-category-list {
  margin: 25px 0;
}

.tile-category {
  cursor: pointer;
  margin: 10px 0;

  .img-row {
    display: flex;
    justify-content: center;
  }

  img {
    margin: 0 auto;
  }

  p {
    word-break: break-word;
    text-align: center;
    color: $light-gray;
    margin-top: 5px;
    font-size: $fs-small;
  }

  .category-selected {
    color: #009688;
  }

  hr {
    height: 4px;
    visibility: hidden;
    margin: 5px 0;
  }

  .category-selected + hr {
    visibility: visible;
    background: #009688;
  }
}
