@import "../variables.scss";

.signup-page {
  .sign-to {
    padding: 0 $side-padding;
    p {
      column-count: 2;
    }
  }
  .step-one {
  }
  .step-two {
  }
}

.terms {
  cursor: pointer;
  color: magenta;
}
