@import "styles/reset.scss";
@import "styles/variables.scss";
@import "styles/typography.scss";
@import "styles/mixins.scss";
@import "styles/comps/buttons.scss";
@import "styles/comps/header.scss";
@import "styles/comps/footer.scss";
@import "styles/comps/details.scss";
@import "styles/comps/collection.scss";
@import "styles/comps/loader.scss";
@import "styles/comps/signup.scss";
@import "styles/comps/popup.scss";
@import "styles/comps/toast.scss";
@import "styles/comps/inline-collection.scss";

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon {
  &-back {
    width: 22px;
  }
  &-home {
    width: 30px;
  }
}

h1 {
  font-size: $fs-extra-large;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.home-page {
  background-image: url(/assets/paw-print-foot-print.svg);
  background-repeat: no-repeat;
  background-position: left bottom -50px;
  padding: 60px $side-padding 0 $side-padding;
  h1,
  h2 {
    font-weight: bold;
    font-size: $fs-extra-large;
    color: $gray;
    letter-spacing: 3px;
    padding-left: 20px;
  }

  p,
  span {
    font-size: $fs-small;
    color: $gray;
    letter-spacing: 0.5px;
  }
}

h1,
h2 {
  font-weight: bold;
  font-size: $fs-extra-large;
  color: $gray;
  letter-spacing: 3px;
}

h3 {
  font-weight: bold;
  font-size: $fs-medium;
  color: $gray;
  letter-spacing: 5px;
}

.empty-content {
  font-size: $fs-medium;
  text-align: center;
  height: 200px;
}

.about-container {
  padding: 100px 10px;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

  p {
    @media (min-width: 576px) {
      padding: 0 10px;
    }

    @media (min-width: 768px) {
      padding: 0 15%;
    }

    @media (min-width: 992px) {
      padding: 0 15%;
    }

    @media (min-width: 1200px) {
      padding: 0 15%;
    }
  }
}

footer {
  margin-top: 10px;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  display: none !important;
}
