

@import 'styles/reset.scss';
@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/mixins.scss';
@import 'styles/comps/buttons.scss';
@import 'styles/comps/header.scss';
@import 'styles/comps/details.scss';
@import 'styles/comps/collection.scss';
@import 'styles/comps/loader.scss';




body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon {
  &-back {
    width: 22px;
  }
  &-home {
    width: 30px;
  }
}

h1 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.home-page {
  padding: 60px $side-padding 0 $side-padding;
}